@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-primary: #FFEDCB;
    --color-secondary: #1e1e1e;
    --color-accent: #20A9FE;
}

/* font-family: 'Roboto', sans-serif; */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right {
    width: 100%;
    height: 100%;
}
