@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* #FFEDCB
#C6B595 */

:root {
    --color-primary: #fff;
    --color-secondary: #f1f1f1;
    --color-font: #1e1e1e;
    --color-accent: #20A9FE;
}

/* font-family: 'Roboto', sans-serif; */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.background_primary {
    background-color: var(--color-primary);
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    display: relative;
}

/* left area */
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    margin: 15px 45px;
}

.image_container {
    margin-top: 150px;
}

img {
    height: 100%;
    width: 100%;
}

.deals {
    margin: 10px;
    font-size: 1.6em;
    font-weight: 300;
}

.logo {
    position: absolute;
    font-size: 3em;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 700;
    left: 0;
    top: 0;
    letter-spacing: 5px;
}

.logo_copy {
    font-size: 0.5em;
}

/* right area */
.right {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: var(--color-font);
}

.right_background {
    background-color: var(--color-secondary);
}

.right_conent {
    margin: 0px 20px 30px;
    font-weight: 400;
    font-size: 1.3em;
}